/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Droid Serif", serif;
  color: #7f8c97;
  background-color: #e9f0f5;
}

a {
  color: #acb7c0;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */

#cd-timeline {
  position: relative;
  margin-bottom: 2em;

  margin-top: 20px;
  padding: 0;
}
#cd-timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 3px;
  
  background: #2f9fc3;
  /* background: #d7e4ed; */
}

.cd-timeline-block {
  position: relative;
  
  /* margin: 2em 0; */
}
.cd-timeline-block:after {
  content: "";
  display: table;
  clear: both;
}
.cd-timeline-block:first-child {
  margin-top: 0;
}
.cd-timeline-block:last-child {
  margin-bottom: 0;
}

.cd-timeline-img {
  position: absolute;
  top: 15px;
  left: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  
  /*
  box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
  */
}

.cd-timeline-img.cd-picture {
  background: #2f9fc3;
}

.cd-timeline-content {
  /*
  position: relative;
  margin-left: 50px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  box-shadow: 0 3px 0 #d7e4ed;
  */

  margin-left: 30px;
  padding: 0.7em;
}

.cd-timeline-content p {
  font-size: 15px;
}

.cd-timeline-content .cd-date{
  color: #2f9fc3;
  font-size: 18px;
}  

.cd-timeline-content .cd-company_name{
  color: #000;
  font-size: 16px;
}

