<!DOCTYPE html>
<html>
<head>

	<title></title>

	<meta name="viewport" content="width=device-width; initial-scale=1">

  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>

    {% load staticfiles %}

	<link rel="stylesheet" href="{% static 'timeline.css' %}">

</head>
<body class="light-blue lighten-4">

	<div class="row">
	<div class="col s12">

	<div class="container">
	
		<div class="row">
    		<div class="col s4 offset-s4">
      			<input value="TechCrunch.com" readonly type="text" class="validate">

      			<!-- 
      			<a class="waves-effect waves-teal btn-flat"><i class="material-icons">search</i></a>
      			-->

    		</div>
    		<div class="col s1">
      			<a style="margin-top: 10px;" class="btn-floating waves-effect waves-light transparent"><i class="material-icons">search</i></a>
    		</div>
  		</div>
		<!-- /.search -->

		<div class="row">
		<div class="col l10 offset-l1 m12">
		
			<div id="scroll1" class="row">

				<div class="col m2 s12">
            		<img class="company-card-img" style="height: 100px;" src="https://d2ojpxxtu63wzl.cloudfront.net/static/7a9e165e3fece3f02ec29efa31693e86_b3af8e8f5ff18189c5213da888d83be6e5fa6bfc8997b99ee1e2cfb35d83607c">
				</div>
			
				<div class="col m5 s12">
					<div class="company-card-info card-panel grey lighten-5 z-depth-1">
            			<p> <i class="material-icons">schedule</i> Founded: 2005 </p>
						<p> <i class="material-icons">perm_identity</i> Employees ~150 </p>
 						<p> <i class="material-icons">location_on</i> Location: San Francisco </p>
					</div>
				</div>

				<div class="col m5 s12">
					<div class="company-card-info company-card-right card-panel grey lighten-5 z-depth-1">
            			<p> Global Rank 464 </p>
						<p> Rank in US 376 </p>
					</div>
				</div>

				<div class="col m5 s12">
					<div class="valign-wrapper company-card-info company-card-right card-panel grey lighten-5 z-depth-1">
						
						<a href="https://twitter.com/TechCrunch" target="_blank"><img class="valign" src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/twitter.png"></a>

						<a href="https://www.facebook.com/techcrunch" target="_blank"><img class="valign" src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/facebook.png"></a>

						<a href="https://angel.co/techcrunch" target="_blank"><img class="valign" src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/angellist.png"></a>

						<a href="http://www.pinterest.com/techcrunch/" target="_blank"><img class="valign" src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/pinterest.png"></a>

						<a href="https://plus.google.com/u/0/+TechCrunch" target="_blank"><img class="valign" src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/googleplus.png"></a>

						<a href="http://klout.com/TechCrunch" target="_blank"><img class="valign" src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/klout.png"></a>

					</div>
				</div>

			</div> <!-- /.row -->

			
			<div id="scroll2" class="card-panel grey lighten-5 z-depth-1">
				<img class="company-card-soc" src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/twitter.png">
				<a href="https://twitter.com/TechCrunch" target="_blank"><span class="black-text company-card-soc company-card-soc-name">@TechCrunch</span></a>

				<div class="row company-card-soc-stats">
					<div class="col l2 m4">
						<p class="stext-17">Tweets</p>
						<p class="black-text"><b>111K</b></p>
					</div>
					<div class="col l2 m4">
						<p class="stext-17">Following</p>
						<p class="black-text"><b>733</b></p>
					</div>
					<div class="col l2 m4">
						<p class="stext-17">Followers</p>
						<p class="black-text"><b>5.79M</b></p>
					</div>
				</div>

				<p><i class="fa fa-quote-left"></i> <i>Breaking technology news, analysis, and opinions from TechCrunch. The number one guide for all things tech.</i> </p>
			</div>

			<div id="scroll3" class="card-panel grey lighten-5 z-depth-1">
				<img class="company-card-soc" src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/facebook.png">
				<a href="https://www.facebook.com/techcrunch" target="_blank"><span class="black-text company-card-soc company-card-soc-name">@TechCrunch</span></a>

				<p class="stext-17 company-card-soc-stats" style="margin-bottom: 20px;">Likes: <b>1.89M </b> </p>

				<p><i class="fa fa-quote-left"></i> <i>TechCrunch, founded on June 11, 2005, is a blog dedicated to obsessively profiling and reviewing new Internet products and companies. In addition to covering new companies, TechCrunch profiles existing companies that are making an impact (commercial and/or cultural) on the new web space. </i> </p>
			</div>

			

			<ul class="collapsible popout" data-collapsible="expandable">
    			<li>
    			  	<div class="collapsible-header">shu@techcrunch.com</div>
    			  	<div class="collapsible-body">

    			  		<div class="container">
						<div class="row">
							
							<div class="col m3 s12">
								<img class="responsive-img" src="https://d2ojpxxtu63wzl.cloudfront.net/static/99db24784caf90ea08fb6ab04bb9a634_14751e42cee32de9ef998ebd30ab9fb947b627614b0b5bd49964d8078efa7c15">
							</div>

							<div class="col m9 s12">
								<p class="grey-text text-darken-3"><b>Catherine Shu</b></p>
								<p>Writer at TechCrunch</p>
								
								<!--
								<p><i class="fa fa-map-marker"></i> Location: Boulder</p>
								<p >Age: 34</p>
								-->

							</div>

							<div class="person-card-soc col s12">

								<a href="https://twitter.com/CatherineShu" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/twitter.png"></a>

								<a href="https://www.facebook.com/catherineshu" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/facebook.png"></a>

								<a href="https://www.linkedin.com/in/catherineshu" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/linkedin.png"></a>

								<a href="https://angel.co/catherineshu" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/angellist.png"></a>

								<a href="https://about.me/catherineshu" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/aboutme.png"></a>

								<!--
								<a href="https://plus.google.com/u/0/+TechCrunch" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/googleplus.png"></a>
								-->

								<a href="http://klout.com/CatherineShu" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/klout.png"></a>

								<a href="https://gravatar.com/catherineshu" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/gravatar.png"></a>


							</div>

						</div> <!-- /.row -->

							<p class="person-card-text grey-text text-darken-2"><i class="fa fa-quote-left"></i> <i>Born and raised in California and schooled in New York, I moved to Taipei in 2007 to find my roots. My emotional search came to a head at a roasted sweet yam vendor, where I ate so many root vegetables I nearly keeled over.</i> </p>

							<section id="cd-timeline" class="cd-container">
							
								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>

									<div class="cd-timeline-content">
										<p class="cd-post">Writer</p>
										<p class="cd-company_name">TechCrunch</p>
										<p>2012.11 - Present</p>
									</div>
								</div> <!-- cd-timeline-block -->

								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>
									
									<div class="cd-timeline-content">
										<p class="cd-post">Features reporter</p>
										<p class="cd-company_name">Taipei Times</p>
										<p>2008.06 - 2012.10</p>
									</div>
								</div> <!-- cd-timeline-block -->

								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>
									
									<div class="cd-timeline-content">
										<p class="cd-post">Reporting assistant</p>
										<p class="cd-company_name">Barron's</p>
										<p>2006.06 - 2007.08</p>
									</div>
								</div> <!-- cd-timeline-block -->

								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>
									
									<div class="cd-timeline-content">
										<p class="cd-post">News assistant</p>
										<p class="cd-company_name">The Wall Street Journal</p>
										<p>2005.08 - 2006.06</p>
									</div>
								</div> <!-- cd-timeline-block -->

								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>
									
									<div class="cd-timeline-content">
										<p class="cd-post">Editorial intern</p>
										<p class="cd-company_name">Dissent</p>
										<p>2004 - 2005</p>
									</div>
								</div> <!-- cd-timeline-block -->

								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>
									
									<div class="cd-timeline-content">
										<p class="cd-post">Reporting intern</p>
										<p class="cd-company_name">Psychology Today</p>
										<p>2005 - 2005</p>
									</div>
								</div> <!-- cd-timeline-block -->

								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>
									
									<div class="cd-timeline-content">
										<p class="cd-post">Investigative reporting intern</p>
										<p class="cd-company_name">Village Voice</p>
										<p>2004 - 2004</p>
									</div>
								</div> <!-- cd-timeline-block -->

								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>
									
									<div class="cd-timeline-content">
										<p class="cd-post">Reporting intern/blogger</p>
										<p class="cd-company_name">Gotham Gazette</p>
										<p>2003 - 2004</p>
									</div>
								</div> <!-- cd-timeline-block -->

								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>
									
									<div class="cd-timeline-content">
										<p class="cd-post">Editor, reporter and features columnist</p>
										<p class="cd-company_name">Sarah Lawrence College Phoenix Newspaper</p>
										<p>2000.08 - 2003.06</p>
									</div>
								</div> <!-- cd-timeline-block -->

							</section> <!-- cd-timeline -->

						</div> <!-- /.container -->

    			  	</div>
    			</li>
    			
    			<li>
    			  	<div class="collapsible-header">jordan@techcrunch.com</div>
    			  	<div class="collapsible-body">

    			  		<div class="container">
						<div class="row">
							
							<div class="col m3 s12">
								<img class="responsive-img" src="https://d2ojpxxtu63wzl.cloudfront.net/static/519011ec307620dc8eb2bebb699b048f_4bafbecf5c0d26296b2aac126f49c5d98e4446d16578b885aedc67df1be3fbc7">
							</div>

							<div class="col m9 s12">
								<p class="grey-text text-darken-3"><b>Jordan Crook</b></p>
								<p>Reporter at TechCrunch</p>
								<p><i class="fa fa-map-marker"></i> Location: New York</p>

								<!--
								<p>Age: </p>
								-->

							</div>

							<div class="person-card-soc col s12">

								<a href="https://twitter.com/jordanrcrook" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/twitter.png"></a>

								<a href="https://www.facebook.com/1550970059" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/facebook.png"></a>

								<a href="https://www.linkedin.com/in/jordanrcrook" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/linkedin.png"></a>

								<!--
								<a href="https://angel.co/catherineshu" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/angellist.png"></a>
								-->

								<a href="https://about.me/jordan.crook" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/aboutme.png"></a>

								<a href="http://www.pinterest.com/jordanrcrook/" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/pinterest.png"></a>

								<!--
								<a href="https://plus.google.com/u/0/+TechCrunch" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/googleplus.png"></a>
								-->

								<a href="http://klout.com/jordanrcrook" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/klout.png"></a>

								<a href="https://gravatar.com/jordanrcrook" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/gravatar.png"></a>

								<a href="http://jordanrcrook.tumblr.com" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/tumblr.png"></a>


							</div>

						</div> <!-- /.row -->

							<p class="person-card-text grey-text text-darken-2"><i class="fa fa-quote-left"></i> <i>I write news at TechCrunch. I live in a walkup apartment on the 4th floor. I love television, books, and gifs. The Today Show is a guilty pleasure... that I live-tweet. Social/Lifestyle is my beat, at work and in life.</i> </p>

							<section id="cd-timeline" class="cd-container">
							
								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>

									<div class="cd-timeline-content">
										<p class="cd-post">Reporter</p>
										<p class="cd-company_name">TechCrunch</p>
										<p>2012.05 - Present</p>
									</div>
								</div> <!-- cd-timeline-block -->

								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>

									<div class="cd-timeline-content">
										<p class="cd-post">Reporter</p>
										<p class="cd-company_name">MobileBurn</p>
										<p>2011.01 - 2011.05</p>
									</div>
								</div> <!-- cd-timeline-block -->

								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>

									<div class="cd-timeline-content">
										<p class="cd-post">Reporter</p>
										<p class="cd-company_name">Mobile Marketer</p>
										<p>2009.04 - 2010.04</p>
									</div>
								</div> <!-- cd-timeline-block -->

							</section> <!-- cd-timeline -->

						</div> <!-- /.container -->

    			  	</div>
    			</li>


    			<li>
    			  	<div class="collapsible-header">john@techcrunch.com</div>
    			  	<div class="collapsible-body">

    			  		<div class="container">
						<div class="row">
							
							<div class="col m3 s12">
								<img class="responsive-img" src="https://d2ojpxxtu63wzl.cloudfront.net/static/2dd943f44418dd8b1fc1bff8996b2501_268bca57663dea913d5825195901a069ef9861fb05f34a87ef123bd18fdb849b">
							</div>

							<div class="col m9 s12">
								<p class="grey-text text-darken-3"><b>John Biggs</b></p>
								<p>Writer at TechCrunch</p>
								<p><i class="fa fa-map-marker"></i> Location: New York</p>

								<!--
								<p>Age: </p>
								-->

							</div>

							<div class="person-card-soc col s12">

								<a href="https://twitter.com/johnbiggs" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/twitter.png"></a>

								<a href="https://www.facebook.com/771265067" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/facebook.png"></a>

								<a href="https://www.linkedin.com/in/jdbiggs" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/linkedin.png"></a>

								<a href="https://angel.co/johnbiggs" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/angellist.png"></a>

								<a href="https://about.me/johnbiggs" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/aboutme.png"></a>

								<a href="http://www.pinterest.com/johnbiggsny/" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/pinterest.png"></a>

								<!--
								<a href="https://plus.google.com/u/0/+01285611925157092167" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/googleplus.png"></a>
								-->

								<a href="http://klout.com/johnbiggs" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/klout.png"></a>

								<a href="https://gravatar.com/jdbiggs" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/gravatar.png"></a>

								<!--
								<a href="http://jordanrcrook.tumblr.com" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/tumblr.png"></a>
								-->

							</div>

						</div> <!-- /.row -->

							<p class="person-card-text grey-text text-darken-2"><i class="fa fa-quote-left"></i> <i>I live in Brooklyn, NY and write about technology, security, gadget, gear, wristwatches, and the Internet. After spending four years as an IT programmer, I switched gears and became a full-time journalist. My work has appeared in the New York Times, Laptop, PC Upgrade, Surge, Gizmodo, Men's Health, InSync, Linux Journal, Popular Science, Sync, and I've written books called Black Hat: Misfits, Criminals, and Scammers in the Internet Age and Bloggers Boot Camp.
							<br>
							<br>
							I am currently East Coast Editor of TechCrunch.com and I run the BWL family of blogs, including SlushPile.net and WristWatchReview.com. I also run the HourTime Podcast with Ariel Adams.
							<br>
							<br>
							You can email me at john@biggs.cc.</i> </p>

							<section id="cd-timeline" class="cd-container">
							
								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>

									<div class="cd-timeline-content">
										<p class="cd-post">CEO</p>
										<p class="cd-company_name">Freeport Mobile</p>
										<p>2015.01 - Present</p>
									</div>
								</div> <!-- cd-timeline-block -->

								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>

									<div class="cd-timeline-content">
										<p class="cd-post">Editor</p>
										<p class="cd-company_name">AOL</p>
										<p>2010 - Present</p>
									</div>
								</div> <!-- cd-timeline-block -->

								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>

									<div class="cd-timeline-content">
										<p class="cd-post">Writer</p>
										<p class="cd-company_name">TechCrunch</p>
										<p>2006.08 - Present</p>
									</div>
								</div> <!-- cd-timeline-block -->

								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>

									<div class="cd-timeline-content">
										<p class="cd-post">Editor</p>
										<p class="cd-company_name">CrunchGear</p>
										<p>2006.08 - 2011.09</p>
									</div>
								</div> <!-- cd-timeline-block -->

								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>

									<div class="cd-timeline-content">
										<p class="cd-post">Freelancer</p>
										<p class="cd-company_name">New York Times</p>
										<p>2001 – 2010.08</p>
									</div>
								</div> <!-- cd-timeline-block -->

								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>

									<div class="cd-timeline-content">
										<p class="cd-post">Editor</p>
										<p class="cd-company_name">MobileCrunch</p>
										<p>2006 – 2008</p>
									</div>
								</div> <!-- cd-timeline-block -->

								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>

									<div class="cd-timeline-content">
										<p class="cd-post">News Editor</p>
										<p class="cd-company_name">Gizmodo</p>
										<p>2005.02 – 2006.07</p>
									</div>
								</div> <!-- cd-timeline-block -->

								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>

									<div class="cd-timeline-content">
										<p class="cd-post">Editor</p>
										<p class="cd-company_name">Bedford Communications</p>
										<p>2004.05 – 2005.02</p>
									</div>
								</div> <!-- cd-timeline-block -->

								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>

									<div class="cd-timeline-content">
										<p class="cd-post">Web Guy</p>
										<p class="cd-company_name">New York University</p>
										<p>2000 – 2002</p>
									</div>
								</div> <!-- cd-timeline-block -->

								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>

									<div class="cd-timeline-content">
										<p class="cd-post">CTO</p>
										<p class="cd-company_name">YRB</p>
										<p>2000 – 2001</p>
									</div>
								</div> <!-- cd-timeline-block -->

								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>

									<div class="cd-timeline-content">
										<p class="cd-post">Analyst</p>
										<p class="cd-company_name">American Management Systems (AMS)</p>
										<p>1997.08 – 2000.02</p>
									</div>
								</div> <!-- cd-timeline-block -->

							</section> <!-- cd-timeline -->

						</div> <!-- /.container -->

    			  	</div>
    			</li>

				
				<li>
    			  	<div class="collapsible-header active">drew@techcrunch.com</div>
    			  	<div class="collapsible-body">

    			  		<div class="container">
						<div class="row">
							
							<div class="col m3 s12">
								<img class="responsive-img" src="https://d2ojpxxtu63wzl.cloudfront.net/static/ab48a32ebaea2e3b84aa744e7908e909_5c51652263fb12990cf7efedb35c872801ac8d2f07d1338a1a9334ed5be79fc5">
							</div>

							<div class="col m9 s12">
								<p class="grey-text text-darken-3"><b>Drew Olanoff</b></p>
								<p>Senior Writer at TechCrunch</p>
								<p><i class="fa fa-map-marker"></i> Location: San Francisco</p>

								<!--
								<p>Age: </p>
								-->

							</div>

							<div class="person-card-soc col s12">

								<a href="https://twitter.com/drew" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/twitter.png"></a>

								<a href="https://www.facebook.com/501203508" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/facebook.png"></a>

								<a href="https://www.linkedin.com/in/drewolanoff" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/linkedin.png"></a>

								<a href="https://angel.co/thatdrew" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/angellist.png"></a>

								<!--
								<a href="https://about.me/johnbiggs" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/aboutme.png"></a>
								-->

								<a href="http://www.pinterest.com/thatdrew/" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/pinterest.png"></a>

								<a href="https://plus.google.com/u/0/104612091113514802664" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/googleplus.png"></a>
								
								<!--
								<a href="http://klout.com/heatherharde" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/klout.png"></a>
								-->

								<a href="https://gravatar.com/thatdrew" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/gravatar.png"></a>

								<a href="http://drew.tumblr.com" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/tumblr.png"></a>

								<a href="http://www.quora.com/drew-olanoff" target="_blank"><img src="https://d23ikhyr5c5bpx.cloudfront.net/images/social-icons/32/default/quora.png"></a>

							</div>

						</div> <!-- /.row -->

							<p class="person-card-text grey-text text-darken-2"><i class="fa fa-quote-left"></i> <i>Drew is a geek who first worked at AOL when he was 16 years old. After a visit to the dark side (Tech Communications and PR), Drew has returned to TechCrunch as a senior writer.</i> </p>

							<section id="cd-timeline" class="cd-container">
							
								<div class="cd-timeline-block">
									<div class="cd-timeline-img cd-picture"></div>

									<div class="cd-timeline-content">
										<p class="cd-post">Senior Writer</p>
										<p class="cd-company_name">TechCrunch</p>
										<p>2015.07 – Present</p>
									</div>
								</div> <!-- cd-timeline-block -->

							</section> <!-- cd-timeline -->

						</div> <!-- /.container -->

    			  	</div>
    			</li>



  			</ul>


		
		</div>
		</div> <!--- /.row body -->

	</div> <!-- /.container -->
	</div>
	</div> <!-- /.row -->

	<script type="text/javascript">

		var options = [ 
            {selector: '#scroll1', offset: 0, callback: 'Materialize.toast("Demo-1", 1500 )'},
            {selector: '#scroll2', offset: 0, callback: 'Materialize.toast("Demo-1", 1500 )'},
            {selector: '#scroll3', offset: 0, callback: 'Materialize.toast("Demo-1", 1500 )'},
            {selector: '.collapsible', offset: 300, callback: 'Materialize.showStaggeredList(".collapsible")'}

        ];

        Materialize.scrollFire(options);

	</script>

	<style type="text/css">

		.collapsible li{
			opacity: 0;
		}


		.person-card-soc{
			margin-top: 10px;
		}

		.person-card-soc img{
			margin-right: 7px;
		}

		@media all and (min-width: 992px) {
			.company-card-img{
				margin: 7.5px 0 15px;
			}
		}

		.person-card-text{
			margin-top: 20px;
		}

		.collapsible-body{
			padding-top: 30px;
		}

		.collapsible-body p {
			padding: 0;
		}

		.company-card-soc-stats{
			margin-top: -15px;
		}

		.stext-17{
			font-size: 17px;
		}

		.company-card-info i{
			vertical-align: bottom;
		}

		.company-card-right{
			padding: 10px;
 	 		margin: 5px 0;
		}

		.company-card-right img{
			margin-right: 7px;
		}

		.company-card-soc{
			top: -20px;
  			left: -20px;
  			position: relative;
		}

		.company-card-soc-name{
			font-size: 18px;
  			vertical-align: top;
		}

		p{
			margin: 0;
		}

	</style>

</body>
</html>

